.wrapper {
  max-width: 1680px;
  padding-inline: var(--gutter);
  margin-inline: auto;
  & [data-wrapper-type="inner"] {
    padding-block: var(--space-s-l);
    padding-inline: var(--space-3xs-xl);
  }
}
