@font-face {
    font-family: "Authentic";
    src:
        local("Authentic"),
        url("/AUTHENTICSans-90.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Alte";
    src:
        local("Alte"),
        url("/AlteHaasGroteskBold.woff2") format("woff2");
    font-display: swap;
}
