body {
  background: var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  margin-inline: 1em;
  font-family: Authentic, sans-serif;
  font-size: var(--size-step-0);
  line-height: 1.8;
}

/* Give back space on smaller screens */
@media (max-width: 48rem) {
  body {
    margin-inline: 0;
  }
}

main {
  flex: auto;
  position: relative;
  &:focus {
    outline: none;
  }
}

footer {
  font-size: var(--size-step--1);
}

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.2;
  text-wrap: balance;
  letter-spacing: 2px;
}

h1 {
  font-family: Alte, serif;
  font-size: var(--size-step-5);
  text-transform: uppercase;
}

/* Accommodate very small screens */
@media (max-width: 22rem) {
  h1 {
    font-size: var(--size-step-4);
  }
}

h2 {
  font-family: Alte, serif;
  font-size: var(--size-step-2);
  text-transform: uppercase;
}

h3 {
  font-family: Authentic, serif;
  font-size: var(--size-step-1);
  padding-block-start: 0.75rem;
  border-block-start: 0.1ex solid;
}

/* Flow space is first defined by .flow */

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

ul {
  padding-inline-start: 1em;
}

/* Account for the font, numbers need more padding */
ol {
  padding-inline-start: 1.25em;
}

a {
  color: currentColor;
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.3ex;
  word-wrap: break-word;
  &:hover {
    text-underline-offset: 0.5ex;
  }
}

/* Append any external links with an icon that indicates you're leaving the site */
a:not([href*="joncoleman.me/"]):not([href^="mailto:"]):not([href^="#"]):not(
    [href^="/"]
  ):after {
  display: inline-block;
  width: 1.25em;
  height: 1em;
  background-image: url("/external-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  /* alternative text rules */
  content: "(external link)";
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1.25em; /* the width of the icon */
}

::selection {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/* Use focus-visible instead of focus to prevent unwanted side effects */
:focus-visible {
  z-index: calc(infinity);
  outline: 3px solid;
  outline-offset: 3px;
}
