---
import Layout from "../layouts/Layout.astro";

const pageTitle = "404";
---

<Layout pageTitle={pageTitle}>
    <article class="wrapper">
        <div class="prose flow" data-wrapper-type="inner">
            <h1>Page not found</h1>
            <p>
                Maybe you mistyped the address? Here is the <a href="/"
                    >résumé home page</a
                > or you can head to <a href="https://joncoleman.me"
                    >joncoleman.me</a
                >.
            </p>
        </div>
    </article>
</Layout>
